@import "./root.scss";

/* Estilo geral do layout */
body {
  margin: 0;
  padding: 0;
  min-width: 360px;
  // background-color: #f4f4f4;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

/* Lista de dados */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  // background-color: #fff;
  // padding: 15px;
  // margin: 10px;
  // border-radius: 8px;
  // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

//   button {
//     background-color: #007bff;
//     color: #fff;
//     padding: 8px 15px;
//     border: none;
//     border-radius: 4px;
//     cursor: pointer;
//     margin-right: 10px;
//   }

//   button:hover {
//     background-color: #0056b3;
//   }

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h2 {
  margin-top: 0;
}

/* Estilização dos campos de formulário */
form {
  width: 100%;
}

div {
  margin-bottom: 15px;
}


// label {
//   display: block;
//   font-weight: bold;
//   margin-bottom: 5px;
// }

// input {
//   width: 100%;
//   padding: 10px;
//   border: 1px solid #ccc;
//   border-radius: 4px;
//   box-sizing: border-box;
// }

//   /* Botões do formulário */
//   button[type="submit"],
//   button[type="button"] {
//     width: 48%;
//     margin-top: 10px;
//     cursor: pointer;
//     padding: 10px 0;
//   }

//   button[type="submit"] {
//     background-color: #28a745;
//   }

//   button[type="submit"]:hover {
//     background-color: #218838;
//   }

//   button[type="button"] {
//     background-color: #dc3545;
//   }

//   button[type="button"]:hover {
//     background-color: #c82333;
//   }

/* Responsividade */
@media (max-width: 600px) {
  .modal-content {
    width: 90%;
    padding: 20px;
  }

  // button {
  //   width: 100%;
  //   margin: 5px 0;
  // }

  // button[type="submit"],
  // button[type="button"] {
  //   width: 100%;
  //   margin-top: 15px;
  // }
}

.m-4 {
  margin: 4rem;
}

.m-3 {
  margin: 3rem;
}

.m-2 {
  margin: 2rem;
}

.m-1 {
  margin: 1rem;
}

.p-4 {
  padding: 4rem;
}
.p-3 {
  padding: 3rem;
}
.p-2 {
  padding: 2rem;
}
.p-1 {
  padding: 1rem;
}
