// Input valid
// $label-color: #efeeed;
// src/styles/definitions.scss

$label-color: #B3B3B3;
$label-color-focus: #333333;
$border-color: #efeeed;

// Input invalid
$text-input-invalid: #eb4a46;
$border-input-invalid: #eb4a46;

// Button with focus
$button-text-color: #ffffff;
$button-background: #00c8b3;

// Botão without focus
$button-text-withot-focus: #dddcdc;
$button-background-without-focus: #f6f6f6;
